@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Rubik", sans-serif;
}

h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}

a{
    color: rgba(4,146,194,1);
    text-decoration: none;
}